body {
    margin: 0;
    padding: 0;
    background-image: url('https://media.giphy.com/media/0udcLzwGfjE57PgS13/giphy.gif');

    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

header h1 {
    font-size: 90px;
    color: lightgreen;
    text-align: center;
    margin-top: 350px;
    font-weight: 900;
}

#name-input {
    text-align: center;
    margin-top: 12px;
}

#name-input input[type="text"] {
    width: 280px;
    height: 25px;
    font-size: 17px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid black;
}

#name-input button {
    width: 90px;

    height: 45px;

    font-size: 18px;

    padding: 7px;

    border-radius: 5px;
    background-color: coral;
    border: 2px solid black;

}

#name-input button:hover {
    background-color: #f44336;
    color: white;
    cursor: pointer;
}



#music {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#music button {
    width: 70px;
    height: 35px;
    font-size: 19px;
    border-radius: 5px;
    background-color: lightblue;
    border: 2px solid black;
}

#music button:hover {
    cursor: pointer;
    color: chartreuse;
}